$dark-one: #23282d;
$gray-dark: #757575;
$gray-light: #FAFAFA;

$primary-one: #004691;
$primary-two: #206fc3;
$secondary-one: #f76221;
$secondary-two: #f78821;


// vars related to specific functionalities
$dimmed-bg-color: $gray-light;
