@import "~app/styles/vars";
@import "~app/styles/responsive.mixin";

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(100vw / 15);
  @include screen('tablet-portrait') {
    font-size: 2rem;
  }
}

.not-found-container > * {
  margin-bottom: 16px;
  @include screen('tablet-portrait') {
    margin-bottom: 32px;
  }
}

.error-msg {
  color: $secondary-one;
}
