@import "~app/styles/vars";

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
}

.not-found-container > * {
  padding: 20px;
  height: min-content;
}

.error-msg {
  color: $secondary-one;
}
