@use '~@angular/material' as mat;
@import "~app/styles/responsive.mixin";
@import "~app/styles/vars";

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-poll {
  @include mat.elevation(2);
  background-color: #ffffff;
  height: auto;
  border-radius: 16px;

  width: 100%;
  margin: 1em;
  @include screen('tablet-landscape') {
    width: 75%;
  }
  @include screen('desktop') {
    width: 50%;
  }
}

.logo-container {
  margin-bottom: 32px;
}

.container-poll-inner {
  padding: 3em;
}

.radio-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 3em;
}

.radio-group > * {
  margin: 1em;
}

.form-input {
  margin-bottom: 1em;
  width: 100%;
  @include screen('tablet-landscape') {
    width: 50%;
  }
}

.email-input {
}

.input-suffix {
  opacity: 0.7;
}

.description {
  opacity: 0.7;
  font-size: 0.9em;
}

.single-radio-container {
  display: flex;
  flex-direction: column;
}
