<app-poll-view-root (selectedIdChange)="onSelectedIdChange($event)">
  <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-input fix-suffix">
      <mat-label>Twój login do konta szkolnego</mat-label>
      <input
        class="email-input"
        type="text"
        formControlName="email"
        placeholder="ft18kowalskij"
        matInput />
      <span class="input-suffix" matSuffix>@zsi.kielce.pl</span>

      <mat-error *ngIf="username?.hasError('required')">
        To pole jest wymagane!
      </mat-error>
      <mat-error *ngIf="username?.hasError('pattern')">
        Błędny format - dozwolone są jedynie znaki alfanumeryczne!
      </mat-error>
    </mat-form-field>

    <h3>Twój głos:</h3>
    <mat-radio-group formControlName="option" class="radio-group">
      <div
        *ngFor="let opt of (selectedPoll$ | async)?.options"
        class="single-radio-container">
        <mat-radio-button [value]="opt.id">
          <span class="radio-content">
            {{ opt.content }}
          </span>
        </mat-radio-button>
        <app-audio-player
          *ngIf="opt | extractExtraFromPollOption: 'url/sound'"
          [src]="opt | extractExtraFromPollOption: 'url/sound'"></app-audio-player>
      </div>
    </mat-radio-group>

    <div class="button-container">
      <mat-spinner *ngIf="submissionInProgress" diameter="16"></mat-spinner>
      <button type="button" mat-button [routerLink]="resultsUrl" color="accent">
        Wyniki
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="pollForm.invalid || submissionInProgress || (selectedPoll$ | async)?.is_readonly">
        Wyślij!
      </button>
    </div>
  </form>
</app-poll-view-root>
