@import "~app/styles/vars";
@import "~app/styles/responsive.mixin";

.container-top {
  display: flex;
  padding: 0 16px 8px 16px;
  color: $gray-dark;
  font-size: 13px;

  flex-direction: column;
  text-align: center;
}

.container-top > *:not(:last-child) {
  margin-bottom: 8px;
}
