@import "~app/styles/vars";

.container-top {
  display: flex;
  padding-right: 16px;
  padding-bottom: 8px;
  color: $gray-dark;
  font-size: 13px;
}

.container-right {
  text-align: right;
  width: 100%;
}
