//@import "~app/styles/zsi.theme"; dodac tez do angular.json styles
@import "~app/styles/vars";

body, app-root {
  min-height: 100vh;
}

app-root {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-one;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $dimmed-bg-color;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.button-container > :not(:first-child) {
  margin-left: 1em;
}

/* https://github.com/angular/components/issues/12803 */
.fix-suffix.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
}

.grecaptcha-badge {
  visibility: hidden;
}
