/* You can add global styles to this file, and also import other style files */
@import "~app/styles/vars";

body {
  margin: 0;
  padding: 0;
  color: $dark-one;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
