/* You can add global styles to this file, and also import other style files */
@import "~app/styles/vars";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-one;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* https://github.com/angular/components/issues/12803 */
.fix-suffix.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
}
